html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f8f8f8;
}

.loginForm {
  width: 400px;
  padding: 40px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.formTitle {
  text-align: center;
  color: 	#ff69b4!important;
  margin-bottom: 30px;
}

.customButton {
  background-color: 	#ff69b4 !important;
  border-color: 	#ff69b4 !important;
  color: white !important;
  font-weight: bold;
}

.socialLogin {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}

.socialIcon {
  font-size: 28px;
  color: 	#ff69b4;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.socialIcon:hover {
  transform: scale(1.2);
}
